<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S5L5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/S5L5.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index">Polizia Locale Di Parma</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Anagrafiche
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Anagrafiche" asp-action="Index">Lista Anagrafiche</a></li>
                                <li><a class="dropdown-item" asp-controller="anagrafiche" asp-action="Add">Compila Anagrafica</a></li>
                            </ul>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Verbali
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Verbali" asp-action="Index">Lista Verbali</a></li>
                                <li><a class="dropdown-item" asp-controller="Verbali" asp-action="Add">Compila Verbale</a></li>
                            </ul>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Violazioni
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Violazioni" asp-action="Index">Lista Violazioni</a></li>
                                <li><a class="dropdown-item" asp-controller="Violazioni" asp-action="Add">Compila Violazione</a></li>
                            </ul>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Statistiche
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Statistiche" asp-action="TotaleVerbaliTrasgressore">Totale Verbali per Trasgressore</a></li>
                                <li><a class="dropdown-item" asp-controller="Statistiche" asp-action="TotalePuntiDecurtatiTrasgressore">Totale Punti Decurtati per Trasgressore</a></li>
                                <li><a class="dropdown-item" asp-controller="Statistiche" asp-action="ViolazioniConPuntiAlti">Violazioni che superano i 10 punti</a></li>
                                <li><a class="dropdown-item" asp-controller="Statistiche" asp-action="ViolazioniConImportiAlto">Violazioni che superano i 400 euro</a></li>
                            </ul>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-warning bg-primary">
        <div class="container">
            &copy; 2024 - Polizia Locale di Parma - <a class="text-warning" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

