@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1>Polizia Locale di Parma</h1>
    <div class="container">
    <img src="https://www.archiparma.it/wp-content/uploads/2016/02/LOGO-COMUNE-DI-PARMA.jpg" />
    </div>
</div>